@{
    ViewBag.Title = "AddAnimalPage";
}
@*<div class="tab">
@*    <a asp-action="AddAnimal"><button class="tablinks">Add</button></a>
    <a asp-action="EditAnimalPage"><button class="tablinks">Edit</button></a>
    <a asp-action="DeleteAnimalPage"><button class="tablinks">Delete</button></a>*@
@*</div>*@

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'AnimalControl')">Animal Control</button>
    <button class="tablinks" onclick="openTab(event, 'CategoryControl')">Animal Category Control</button>
    <button class="tablinks" onclick="openTab(event, 'AdminControl')">Admin User Control</button>
</div>
<div id="AnimalControl" class="tabcontent" style="padding:0">
    <div class="tab">
        <a asp-action="AddAnimal" asp-route-admin="true"><button class="tablinks">Add</button></a>
        <a asp-action="EditAnimalPage" asp-route-admin="true"><button class="tablinks">Edit</button></a>
        <a asp-action="DeleteAnimalPage" asp-route-admin="true"><button class="tablinks">Delete</button></a>
    </div>
</div>
   

<div id="CategoryControl" class="tabcontent" style="padding:0">
    <div class="tab">
        <a asp-action="AddCategory" asp-route-admin="true"><button class="tablinks">Add</button></a>
        <a asp-action="DeleteCategoryPage" asp-route-admin="true"><button class="tablinks">Delete</button></a>
    </div>
</div>
<div id="AdminControl" class="tabcontent" style="padding:0">
    <div class="tab">
        <a asp-action="AddAdmin" asp-route-admin="true"><button class="tablinks">Add</button></a>
    </div>
</div>