@model PetStrore.Models.Admin
@{
    ViewBag.Title = "AddAdmin";
}
@await Html.PartialAsync("_PartialAdminView")
<h3>@ViewBag.Message</h3>
<form asp-controller="Admin" asp-action="AddAdmin" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="alert-danger">
    </div>
    <div class="col-xl-10">
        <h1 class="mb-4" style="color:#008B8B">Add Admin User</h1>

        <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">
                        <label class="mb-0" asp-for="UserName">User Name</label>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="text" asp-for="UserName" class="form-control form-control-lg" placeholder="Name">
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">
                        <label class="mb-0" asp-for="Password">Password</label>
                    </div>
                    <div class="col-md-9 pe-5">
                        <input type="text" min="0" asp-for="Password" class="form-control form-control-lg" placeholder="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="px-5 py-4">
                    <button type="submit" class="btn btn-primary btn-lg">Add User Admin</button>
                </div>

            </div>
        </div>
    </div>
</form>