@model IEnumerable<PetStrore.Models.Category>
@{
    ViewBag.Title = "DeleteCategoryPage";
}
@await Html.PartialAsync("_PartialAdminView")
<div class="album py-5 bg-transparent">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var category in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <h1 style="text-align:center;color:#008B8B">@category.Name</h1>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-body">
                                <a asp-action="DeleteCategory" asp-route-categoryId="@category.CategoryId"><button class="w-100 btn btn-lg btn-primary">Delete</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>     